@model WebAppDotNetCoreAndEntity.Models.Student
@{
    ViewData["Title"] = "Index";
}

@*<h2>Name: @ViewBag.StudentData.StudentName</h2>
    <h2>Reg No: @ViewBag.StudentData.RegNo</h2>
    <h2>Email: @ViewBag.StudentData.Email</h2>
    <h2>Address: @ViewBag.StudentData.Address</h2>
    <h2>Department: @ViewBag.StudentData.Department</h2>*@


<h2>Name: @Model.StudentName</h2>
<h2>Reg No: @Model.RegNo</h2>
<h2>Email: @Model.Email</h2>
<h2>Address: @Model.Address</h2>
<h2>Department: @Model.DepartmentName</h2>

