@model List<WebAppDotNetCoreAndEntity.Models.Student>
@{
    ViewData["Title"] = "GetAll";
}

<h2>Student List  </h2>

<table class="table table-bordered">
    @*@foreach (var item in ViewBag.StudentData)*@
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.StudentName</td>
            <td>@item.RegNo</td>
            <td>@item.Email</td>
            <td>@item.Address</td>
            <td>@item.Department</td>
        </tr>

    }

</table>



