@model WebAppDotNetCoreAndEntity.Models.Student
@{
    ViewData["Title"] = "SaveStudent";
}

<h2>SaveStudent</h2>
<h3>@ViewBag.Message</h3>
@using (Html.BeginForm(FormMethod.Post))
{
<table>
    <tr>
        <td>@Html.LabelFor(c => c.StudentName)</td>
        <td>@Html.TextBoxFor(c => c.StudentName, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(c => c.RegNo)</td>
        <td>@Html.TextBoxFor(c => c.RegNo, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(c => c.Email)</td>
        <td>@Html.TextBoxFor(c => c.Email, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(c => c.Address)</td>
        <td>@Html.TextBoxFor(c => c.Address, new { @class = "form-control"})</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(c => c.Department)</td>
        <td>@Html.DropDownListFor(c => c.Department, new SelectList(ViewBag.Department), "---Select---", new { @class = "form-control"})</td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" class="btn btn-default" value="Save"/></td>
    </tr>
</table>
}

